@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Početna stranica. Potrebno dizajnirati izgled stranice.

    <a asp-controller="Zbor" asp-action="Index">Zborovi</a>
</div>
