<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zboris</title>
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a asp-area="" asp-controller="Zbor" asp-action="Index" class="sidebar-brand d-flex align-items-center justify-content-center" style=" background-image: url(/logo.png); background-size:inherit; background-repeat: no-repeat;">
                </a>
                <!--Tu ide jos nekaj ako je odabran zbor. to ćemp napraviti.-->
                @await Html.PartialAsync("_ZborNavigacijaPartial")
            </ul>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Search -->
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-action="Pretraga" asp-controller="Zbor">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Pretraži" aria-label="Search" aria-describedby="basic-addon2" value="" name="upit">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <!-- Nav Item - Alerts -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="procitaj3Obavijesti()">
                                    <i class="fa fa-bell"></i>
                                    <!-- Counter - Alerts -->
                                    <span id="notificationCounter" class="badge badge-danger badge-counter"></span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown" >
                                    <h6 class="dropdown-header">
                                        Obavijesti
                                    </h6>
                                    <div id="obavijesti_layout">

                                    </div>



                                    <a class="dropdown-item text-center small text-gray-500" asp-action="Obavijesti" asp-controller="Korisnik">Više obavijesti</a>
                                </div>
                            </li>

                            <!-- Nav Item - Messages -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <!-- Counter - Messages -->
                                    <span id="messageCounter" class="badge badge-danger badge-counter"></span>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                    <h6 class="dropdown-header">
                                        Poruke
                                    </h6>
                                    <div id="poruke_layout">

                                    </div>



                                    <a class="dropdown-item text-center small text-gray-500" asp-action="Index" asp-controller="Poruke">Više poruka</a>
                                </div>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            @await Html.PartialAsync("_LoginPartial")

                        </ul>

                    </nav>
                    <div class="container-fluid">




                        <main role="main" class="pb-3">
                            @RenderBody()
                            <div class="modal fade" id="napustanjeZbora" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Napuštanje zbora</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Jeste li sigurni da želite napustiti zbor?</p>
                                            <p id="idNapusti" style="display:none"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" onclick="napustiZbor()">Da</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </body>


    <footer class="border-top footer text-muted">
        <div class="container" style="margin-left:0px; padding-left:20px">
            &copy; 2020 - Zboris - Diplomski rad FER
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/chat_layout.js"></script>
    <script>
       
    </script>
    <script>renderChat(); renderNot()</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
