@using Microsoft.AspNetCore.Identity
@using ZborApp.Models
@using ZborData.Account

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ZborData.Model.ZborDatabaseContext ctx

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown no-arrow">
        @{
            var kor = ctx.Korisnik.Where(k => k.Id == Guid.Parse(UserManager.GetUserId(User))).SingleOrDefault();

        }
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 ">@kor.Ime  @kor.Prezime</span>
            
            <img src="@kor.Slika" alt="profpic" class="img-profile rounded-circle">

        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">
                <i class="fa fa-user"></i>
                Profil
            </a>
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangePassword">
                <i class="fa fa-lock"></i>
                Promjena lozinke
            </a>
            <div class="dropdown-divider"></div>
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">

                <button class="dropdown-item" type="submit" data-toggle="modal" data-target="#logoutModal">
                    <i class="fa fa-sign-out"></i>
                    Odjava
                </button>
            </form>
        </div>
    </li>

    
}
else
{
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Registriraj se</a>

</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Prijavi se</a>

</li>

}
