@using Microsoft.AspNetCore.Identity
@using ZborApp.Models
@using ZborData.Account

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ZborData.Model.ZborDatabaseContext ctx

@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex justify-content-between align-items-center">
        <div>
            @{
                var kor = ctx.Korisnik.Where(k => k.Id == Guid.Parse(UserManager.GetUserId(User))).SingleOrDefault();

            }
            <img src="@kor.Slika" alt="profpic" style="border-radius:50%; width:60px; height:60px">
            
        </div>
        <div>
            <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">@kor.Ime  @kor.Prezime</button>
            <div class="dropdown-menu">
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">

                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangePassword" title="Manage">Promjeni lozinku</a>

                    <button type="submit" class="btn btn-link navbar-btn navbar-link dropdown-item">Odjava</button>

                </form>
            </div>
        </div>
    </div>
}
else
{

    <a class="btn btn-outline-secondary btn-sm" asp-area="" asp-controller="Account" asp-action="Register">Registriraj se</a>
    <a class="btn btn-outline-secondary btn-sm"  asp-area="" asp-controller="Account" asp-action="Login">Prijavi se</a>

}
