@model ZborApp.Models.ZborViewModels.DodajViewModel
@{
    ViewData["Title"] = "Dodaj zbor";
}

<head>
    <link rel="stylesheet" href="~/css/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="~/css/datepicker/datepicker3.min.css" />
    <link rel="stylesheet" href="~/css/datepicker/bootstrap-select.css" />
</head>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Novi zbor</h1>
</div>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Novi zbor</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="card-text">
                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Novi.Naziv"></label>
                                <input asp-for="Novi.Naziv" class="form-control" />
                                <span asp-validation-for="Novi.Naziv" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label asp-for="Novi.Adresa"></label>
                                <input asp-for="Novi.Adresa" class="form-control" />
                                <span asp-validation-for="Novi.Adresa" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Novi.DatumOsnutka">Datum osnutka</label>


                                <div class="input-group input-append date" id="datePicker">
                                    <input asp-for="Novi.DatumOsnutka" type="text" class="form-control" data-date-end-date="0d" name="Novi.DatumOsnutka" id="proba" readonly style="background-color:white" /><span asp-validation-for="Novi.DatumOsnutka" class="text-danger"></span>
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>


                                </div>


                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-secondary mb-2">Dodaj!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/datepicker/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datePicker')
                .datepicker({
                    format: 'dd/mm/yyyy',
                    autoClose: true,
                    minView: 2,

                })
                .on('changeDate', function (e) {
                    // Revalidate the date field

                    $(this).datepicker('hide');

                    //$('#eventForm').formValidation('revalidateField', 'date');
                })
                .datepicker('setEndDate', 'new Date');



        });
    </script>
    <script>
        var dates = $("input[id$='dpFrom'], input[id$='dpTo']");
        $('#clearDates').on('click', function () {
            document.getElementById("proba").value = "";
        });

        /*dates.attr('value', '');
        dates.each(function () {
            $.datepicker._clearDate(this);
        });
});*/
    </script>
    <script src="~/js/datepicker/bootstrap-select.min.js"></script>

    <script>
        $('.selectpicker').selectpicker({
            //style: 'btn-info',
            size: 10
        });
    </script>

}