@model ZborApp.Models.ZborViewModels.AnketaModel
@{
    ViewData["Title"] = "Novo pitanje";
}

<h1>@ViewData["Title"]</h1>

<head>
    <meta charset="UTF-8">
    <title>Pitanje</title>

</head>
<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" />
</head>
<body>
    <div >
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Postavi pitanje</h6>
            </div>
            <div class="card-body" >
                <div class="card-text">
                    <form asp-action="NovaAnketa" method="post" id="formy">
                        
                        <div class="row">
                            <div>

                                <div class="row"><h1></h1></div>

                                <div class="row row-divider" style="padding-left:100px">

                                    <br>
                                    <div class="col-md-10">
                                        <div id="question-status"></div>


                                        <textarea asp-for="Json" id="testic" style="display:none"></textarea>
                                        <h2 id="current-question-title">Pitanje </h2> <!-- Change this when moving to next question (#question-title)-->
                                        <div class="row d-flex justify-content-between align-items-center" style="padding-left:25px; padding-right:25px">
                                           
                                                <label style="float:left" asp-for="DatumKraj"> Datum završetka: &nbsp;</label>
                                                <span style="width:20%; float:right"class="input-group input-append date" id="datePicker">
                                                    <input asp-for="DatumKraj" type="text" class="form-control" name="DatumKraj" id="proba" readonly style="background-color:white" /><span asp-validation-for="DatumKraj"></span>
                                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                                </span>
                                           

                                        </div>
                                        <div>
                                            <table class="table borderless">
                                                <tbody></tbody>
                                                <!-- Last row of the table for option -->

                                                <tbody id="quiz-control">
                                                    <tr>
                                                        <td>
                                                            <button type="button" id="dodaj" class="btn btn-outline-info "> Dodaj odgovor </button>
                                                        </td>
                                                        <td class="text-right">
                                                            <button type="button" id="predaj" class="btn btn-outline-success"> Završi! </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>

                </div>
                <script src="~/js/create.js"></script>
            </div>
        </div>
    </div>
</body>
@section Scripts {

 
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datePicker')
                .datepicker({
                    format: 'dd/mm/yyyy',
                    autoClose: true,
                    minView: 2,

                })
                .on('changeDate', function (e) {
                    // Revalidate the date field

                    $(this).datepicker('hide');

                    //$('#eventForm').formValidation('revalidateField', 'date');
                })
                .datepicker('setStartDate', 'new Date');



        });
    </script>
    <script>
        var dates = $("input[id$='dpFrom'], input[id$='dpTo']");
        $('#clearDates').on('click', function () {
            document.getElementById("proba").value = "";
        });

        /*dates.attr('value', '');
        dates.each(function () {
            $.datepicker._clearDate(this);
        });
});*/
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <script>
        $('.selectpicker').selectpicker({
            //style: 'btn-info',
            size: 10
        });
    </script>


}

