@model ZborApp.Models.ZborViewModels.ProjektiViewModel
@using ZborDataStandard.Model;
@{
    ViewData["Title"] = "Dodaj projekt";
}

<h1>Prava</h1>

<p>Nemate dovoljnu razinu prava za pristup ovoj stranici. Pristup može biti samo za članove zbora ili samo za voditelja zbora.</p>